.ai-assistant {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: cadetblue;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.cta-button {
  border-radius: 5px;
  padding: 4px 10px;
  background: cornflowerblue;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  cursor: pointer;
}